* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 5px 10px 20px#888888;
}
nav h4 {
  font-size: 24px;
  color: rgb(164, 209, 250);
  letter-spacing: 3px;
}
nav h4:nth-child(2) {
  font-size: medium;
  font-weight: 400;
  color: #888888;
}
.container {
  text-align: center;
}
span {
  font-size: 64px;
  font-weight: 700;
}
.btn {
  width: 100px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  border-radius: 30px;
  font-weight: 700;
  font-size: x-small;
}
.btn:hover {
  background-color: black;
  color: white;
}
